#Paso 1: Instalar Python con el path del sistema, Visual Studio Code y MySQL
#Paso 2: Abrir MySQL y crear un schema con el nombre "inventario", después ejecutar los scripts SQL "INVENTARIO_bd.sql" y 
#        "Datos_Full.sql"
#Paso 3: Para instalar bibliotecas ejecuta lo siguiente en la terminal de 
#        Visual en el directorio de la app: "pip install -r requirements.txt"
#Paso 4: Contar con conexión a internet para el uso de bibliotecas javascript
#Paso 5: Ejecutar la aplicación con el comando "python Front.py" y dar Ctrl + clic en el siguiente enlace "http://127.0.0.1:5000"
mysql-connector-python
Flask