<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Dispositivos Inteligentes</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    
        .form-container {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            padding: 20px;
            width: 90%; /* Utilizamos un ancho relativo */
            max-width: 400px;
            text-align: center;
            overflow-y: auto;
        }
    
        h1 {
            text-align: center;
            margin-top: 0;
        }
    
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-height: 80vh; /* Limitamos la altura del formulario */
            overflow-y: auto;
        }
    
        .form-group {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-bottom: 15px;
        }
    
        label {
            font-weight: bold;
            margin-bottom: 5px;
        }
    
        input, select {
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            width: 100%;
            box-sizing: border-box;
            margin-bottom: 8px;
        }
    
        .btn-submit {
            background-color: #3498db;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s;
        }
    
        .btn-submit:hover {
            background-color: #2980b9;
        }


    </style>
    <!-- Asegúrate de tener incluida la biblioteca de jQuery antes de este script -->
<!-- Coloca esto en la sección <head> de tu archivo HTML -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="mi_script.js"></script>
    <script>
        var listaIdsSistemas = [];
        var listaIdsRam = [];
        var listaIdsAlmacenamiento = [];
        var listaIdsMicro = [];
        var listaIdsTarjeta = [];
        var listaIdsPuerto = [];
        var listaIdsLectora = [];
        var listaIdsRed = [];
        $(document).ready(function() {
            var contadorSistemas = 1;
            var contadorRam = 1;
            var contadorAlmacenamiento = 1;
            var contadorMicro = 1;
            var contadorTarjeta = 1;
            var contadorPuerto = 1;
            var contadorLectora = 1;
            var contadorRed = 1;

            $("#agregar-sistema").click(function() {
                contadorSistemas++;

                var sistemaOriginal = $("#sistema_operativo");
                var nuevoSistema = sistemaOriginal.clone();

                nuevoSistema.attr("id", "sistema_operativo_" + contadorSistemas);
                nuevoSistema.attr("name", "sistema_operativo_" + contadorSistemas);

                // Deseleccionar la opción en el nuevo sistema operativo clonado
                nuevoSistema.find("option:selected").removeAttr("selected");
                
                // Seleccionar la opción predeterminada en el nuevo sistema operativo clonado
                nuevoSistema.find("option:first").attr("selected", "selected");

                // Agrega un botón de borrado junto al nuevo sistema operativo clonado
                nuevoSistema.after('<button class="btn-borrar-sistema">Borrar</button>');

                // Agrega el nuevo sistema operativo clonado al formulario
                sistemaOriginal.after(nuevoSistema);
                // Agrega el ID del sistema operativo clonado a la lista
                listaIdsSistemas.push("sistema_operativo_" + contadorSistemas);

                $("#lista_ids_sistemas").val(contadorSistemas);
            });

            $("#agregar-ram").click(function() {
                contadorRam++;

                var ramOriginal = $("#ram");
                var nuevoRam = ramOriginal.clone();

                nuevoRam.attr("id", "ram_" + contadorRam);
                nuevoRam.attr("name", "ram_" + contadorRam);

                // Deseleccionar la opción en el nuevo sistema operativo clonado
                nuevoRam.find("option:selected").removeAttr("selected");
                
                // Seleccionar la opción predeterminada en el nuevo sistema operativo clonado
                nuevoRam.find("option:first").attr("selected", "selected");

                // Agrega un botón de borrado junto al nuevo sistema operativo clonado
                nuevoRam.after('<button class="btn-borrar-ram">Borrar</button>');

                // Agrega el nuevo sistema operativo clonado al formulario
                ramOriginal.after(nuevoRam);
                // Agrega el ID del sistema operativo clonado a la lista
                listaIdsRam.push("ram_" + contadorRam);

                $("#lista_ids_ram").val(contadorRam);
            });

            $("#agregar-almacenamiento").click(function() {
                contadorAlmacenamiento++;

                var almacenamientoOriginal = $("#almacenamiento");
                var nuevoAlmacenamiento = almacenamientoOriginal.clone();

                nuevoAlmacenamiento.attr("id", "almacenamiento_" + contadorAlmacenamiento);
                nuevoAlmacenamiento.attr("name", "almacenamiento_" + contadorAlmacenamiento);

                // Deseleccionar la opción en el nuevo sistema operativo clonado
                nuevoAlmacenamiento.find("option:selected").removeAttr("selected");
                
                // Seleccionar la opción predeterminada en el nuevo sistema operativo clonado
                nuevoAlmacenamiento.find("option:first").attr("selected", "selected");

                // Agrega un botón de borrado junto al nuevo sistema operativo clonado
                nuevoAlmacenamiento.after('<button class="btn-borrar-almacenamiento">Borrar</button>');

                // Agrega el nuevo sistema operativo clonado al formulario
                almacenamientoOriginal.after(nuevoAlmacenamiento);
                // Agrega el ID del sistema operativo clonado a la lista
                listaIdsAlmacenamiento.push("almacenamiento_" + contadorAlmacenamiento);

                $("#lista_ids_almacenamiento").val(contadorAlmacenamiento);
            });

            $("#agregar-micro").click(function() {
                contadorMicro++;

                var microOriginal = $("#micro");
                var nuevoMicro = microOriginal.clone();

                nuevoMicro.attr("id", "micro_" + contadorMicro);
                nuevoMicro.attr("name", "micro_" + contadorMicro);

                // Deseleccionar la opción en el nuevo sistema operativo clonado
                nuevoMicro.find("option:selected").removeAttr("selected");
                
                // Seleccionar la opción predeterminada en el nuevo sistema operativo clonado
                nuevoMicro.find("option:first").attr("selected", "selected");

                // Agrega un botón de borrado junto al nuevo sistema operativo clonado
                nuevoMicro.after('<button class="btn-borrar-micro">Borrar</button>');

                // Agrega el nuevo sistema operativo clonado al formulario
                microOriginal.after(nuevoMicro);
                // Agrega el ID del sistema operativo clonado a la lista
                listaIdsMicro.push("micro_" + contadorMicro);

                $("#lista_ids_micro").val(contadorMicro);
            });

            $("#agregar-tarjeta").click(function() {
                contadorTarjeta++;

                var tarjetaOriginal = $("#tarjeta");
                var nuevoTarjeta = tarjetaOriginal.clone();

                nuevoTarjeta.attr("id", "tarjeta_" + contadorTarjeta);
                nuevoTarjeta.attr("name", "tarjeta_" + contadorTarjeta);

                // Deseleccionar la opción en el nuevo sistema operativo clonado
                nuevoTarjeta.find("option:selected").removeAttr("selected");
                
                // Seleccionar la opción predeterminada en el nuevo sistema operativo clonado
                nuevoTarjeta.find("option:first").attr("selected", "selected");

                // Agrega un botón de borrado junto al nuevo sistema operativo clonado
                nuevoTarjeta.after('<button class="btn-borrar-tarjeta">Borrar</button>');

                // Agrega el nuevo sistema operativo clonado al formulario
                tarjetaOriginal.after(nuevoTarjeta);
                // Agrega el ID del sistema operativo clonado a la lista
                listaIdsTarjeta.push("tarjeta_" + contadorTarjeta);

                $("#lista_ids_tarjeta").val(contadorTarjeta);
            });

            $("#agregar-puerto").click(function() {
                contadorPuerto++;

                var puertoOriginal = $("#puerto");
                var nuevoPuerto = puertoOriginal.clone();

                nuevoPuerto.attr("id", "puerto_" + contadorPuerto);
                nuevoPuerto.attr("name", "puerto_" + contadorPuerto);

                // Deseleccionar la opción en el nuevo sistema operativo clonado
                nuevoPuerto.find("option:selected").removeAttr("selected");
                
                // Seleccionar la opción predeterminada en el nuevo sistema operativo clonado
                nuevoPuerto.find("option:first").attr("selected", "selected");

                // Agrega un botón de borrado junto al nuevo sistema operativo clonado
                nuevoPuerto.after('<button class="btn-borrar-puerto">Borrar</button>');

                // Agrega el nuevo sistema operativo clonado al formulario
                puertoOriginal.after(nuevoPuerto);
                // Agrega el ID del sistema operativo clonado a la lista
                listaIdsPuerto.push("puerto_" + contadorPuerto);

                $("#lista_ids_puerto").val(contadorPuerto);
            });

            $("#agregar-lectora").click(function() {
                contadorLectora++;

                var lectoraOriginal = $("#lectora");
                var nuevoLectora = lectoraOriginal.clone();

                nuevoLectora.attr("id", "lectora_" + contadorLectora);
                nuevoLectora.attr("name", "lectora_" + contadorLectora);

                // Deseleccionar la opción en el nuevo sistema operativo clonado
                nuevoLectora.find("option:selected").removeAttr("selected");
                
                // Seleccionar la opción predeterminada en el nuevo sistema operativo clonado
                nuevoLectora.find("option:first").attr("selected", "selected");

                // Agrega un botón de borrado junto al nuevo sistema operativo clonado
                nuevoLectora.after('<button class="btn-borrar-lectora">Borrar</button>');

                // Agrega el nuevo sistema operativo clonado al formulario
                lectoraOriginal.after(nuevoLectora);
                // Agrega el ID del sistema operativo clonado a la lista
                listaIdsLectora.push("lectora_" + contadorLectora);

                $("#lista_ids_lectora").val(contadorLectora);
            });

            $("#agregar-red").click(function() {
                contadorRed++;

                var redOriginal = $("#red");
                var nuevoRed = redOriginal.clone();

                nuevoRed.attr("id", "red_" + contadorRed);
                nuevoRed.attr("name", "red_" + contadorRed);

                // Deseleccionar la opción en el nuevo sistema operativo clonado
                nuevoRed.find("option:selected").removeAttr("selected");
                
                // Seleccionar la opción predeterminada en el nuevo sistema operativo clonado
                nuevoRed.find("option:first").attr("selected", "selected");

                // Agrega un botón de borrado junto al nuevo sistema operativo clonado
                nuevoRed.after('<button class="btn-borrar-red">Borrar</button>');

                // Agrega el nuevo sistema operativo clonado al formulario
                redOriginal.after(nuevoRed);
                // Agrega el ID del sistema operativo clonado a la lista
                listaIdsRed.push("red_" + contadorRed);

                $("#lista_ids_red").val(contadorRed);
            });

            // Agregar un evento para borrar el sistema operativo duplicado
            $(document).on('click', '.btn-borrar-sistema', function() {
                var sistemaDuplicado = $("select[name^='sistema_operativo_']").not(":first");
                
                if (sistemaDuplicado.length > 0) {
                    var sistemaDuplicado = sistemaDuplicado.last();
                    sistemaDuplicado.prev(".btn-borrar-sistema").remove(); // Remover el botón de borrado del sistema anterior
                    sistemaDuplicado.remove(); // Remover el menú desplegable del sistema operativo duplicado
                    listaIdsSistemas.pop();
                } else {
                    var sistemaOriginal = $("select[name='sistema_operativo_1']");
                    sistemaOriginal.val(""); // Restablecer el valor a la opción deshabilitada y seleccionada por defecto
                }
            });
            
            // Agregar un evento para borrar la ram duplicada
            $(document).on('click', '.btn-borrar-ram', function() {
                var ramDuplicado = $("select[name^='ram_']").not(":first");
                
                if (ramDuplicado.length > 0) {
                    var ramDuplicado = ramDuplicado.last();
                    ramDuplicado.prev(".btn-borrar-ram").remove(); // Remover el botón de borrado del sistema anterior
                    ramDuplicado.remove(); // Remover el menú desplegable del sistema operativo duplicado
                    listaIdsRam.pop();
                } else {
                    var ramOriginal = $("select[name='ram_1']");
                    ramOriginal.val(""); // Restablecer el valor a la opción deshabilitada y seleccionada por defecto
                }
            });

            // Agregar un evento para borrar el almacenamiento duplicada
            $(document).on('click', '.btn-borrar-almacenamiento', function() {
                var almacenamientoDuplicado = $("select[name^='almacenamiento_']").not(":first");
                
                if (almacenamientoDuplicado.length > 0) {
                    var almacenamientoDuplicado = almacenamientoDuplicado.last();
                    almacenamientoDuplicado.prev(".btn-borrar-almacenamiento").remove(); // Remover el botón de borrado del sistema anterior
                    almacenamientoDuplicado.remove(); // Remover el menú desplegable del sistema operativo duplicado
                    listaIdsAlmacenamiento.pop();
                } else {
                    var almacenamientoOriginal = $("select[name='almacenamiento_1']");
                    almacenamientoOriginal.val(""); // Restablecer el valor a la opción deshabilitada y seleccionada por defecto
                }
            });

            // Agregar un evento para borrar el microprocesador duplicado
            $(document).on('click', '.btn-borrar-micro', function() {
                var microDuplicado = $("select[name^='micro_']").not(":first");
                
                if (microDuplicado.length > 0) {
                    var microDuplicado = microDuplicado.last();
                    microDuplicado.prev(".btn-borrar-micro").remove(); // Remover el botón de borrado del sistema anterior
                    microDuplicado.remove(); // Remover el menú desplegable del sistema operativo duplicado
                    listaIdsMicro.pop();
                } else {
                    var microOriginal = $("select[name='micro_1']");
                    microOriginal.val(""); // Restablecer el valor a la opción deshabilitada y seleccionada por defecto
                }
            });

            // Agregar un evento para borrar la tarjeta duplicada
            $(document).on('click', '.btn-borrar-tarjeta', function() {
                var tarjetaDuplicado = $("select[name^='tarjeta_']").not(":first");
                
                if (tarjetaDuplicado.length > 0) {
                    var tarjetaDuplicado = tarjetaDuplicado.last();
                    tarjetaDuplicado.prev(".btn-borrar-tarjeta").remove(); // Remover el botón de borrado del sistema anterior
                    tarjetaDuplicado.remove(); // Remover el menú desplegable del sistema operativo duplicado
                    listaIdsTarjeta.pop();
                } else {
                    var tarjetaOriginal = $("select[name='tarjeta_1']");
                    tarjetaOriginal.val(""); // Restablecer el valor a la opción deshabilitada y seleccionada por defecto
                }
            });

            $(document).on('click', '.btn-borrar-puerto', function() {
                var puertoDuplicado = $("select[name^='puerto_']").not(":first");
                
                if (puertoDuplicado.length > 0) {
                    var puertoDuplicado = puertoDuplicado.last();
                    puertoDuplicado.prev(".btn-borrar-puerto").remove();
                    puertoDuplicado.remove();
                    listaIdsPuerto.pop();
                } else {
                    var puertoOriginal = $("select[name='puerto_1']");
                    puertoOriginal.val(""); // Restablecer el valor a la opción deshabilitada y seleccionada por defecto
                }
            });

            $(document).on('click', '.btn-borrar-lectora', function() {
                var lectoraDuplicado = $("select[name^='lectora_']").not(":first");
                
                if (lectoraDuplicado.length > 0) {
                    var lectoraDuplicado = lectoraDuplicado.last();
                    lectoraDuplicado.prev(".btn-borrar-lectora").remove();
                    lectoraDuplicado.remove();
                    listaIdsLectora.pop();
                } else {
                    var lectoraOriginal = $("select[name='lectora_1']");
                    lectoraOriginal.val(""); // Restablecer el valor a la opción deshabilitada y seleccionada por defecto
                }
            });

            $(document).on('click', '.btn-borrar-red', function() {
                var redDuplicado = $("select[name^='red_']").not(":first");
                
                if (redDuplicado.length > 0) {
                    var redDuplicado = redDuplicado.last();
                    redDuplicado.prev(".btn-borrar-red").remove();
                    redDuplicado.remove();
                    listaIdsRed.pop();
                } else {
                    var redOriginal = $("select[name='red_1']");
                    redOriginal.val(""); // Restablecer el valor a la opción deshabilitada y seleccionada por defecto
                }
            });

        });

    </script>
</head>
<body>
    <div class="container">
        <h1>Agregar Dispositivos Inteligentes</h1>
        <form action="/agregar_dispositivo" method="post" id="formulario">
            <div class="form-group">
                <label for="factura">Factura</label>
                <input type="text" id="factura" name="factura" placeholder="NO SE ENCUENTRA">
            </div>
            <div class="form-group">
                <label for="serial">Serial</label>
                <input type="text" id="serial" name="serial" placeholder="N/A">
            </div>

            <div class="form-group">
                <label for="num_inventario">Número de Inventario (Numérico)</label>
                <input type="text" id="num_inventario" name="num_inventario" placeholder="N/A" pattern="[0-9]*" title="Ingrese solo números">
            </div>
            
            <div class="form-group">
                <label for="subtipo">Tipo de Dispositivo</label>
                <select id="subtipo" name="subtipo" required>
                    <!-- Opción deshabilitada y seleccionada por defecto -->
                    <option value="" disabled selected>Seleccione un Tipo</option>
                    <!-- Generamos las opciones del menú desplegable con los nombres de la tabla SUBTIPO -->
                    {% for subtipo_id, nombre in nombres_subtipo %}
                        <option value="{{ subtipo_id }}">{{ nombre }}</option>
                    {% endfor %}
                </select>
            </div>
            <input type="hidden" id="subtipo_id" name="subtipo_id">
            
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" name="nombre" required>
            </div>
            
            <div class="form-group">
                <label for="modelo">Modelo</label>
                <!-- Código HTML en ADispos.html -->
                <select id="modelo" name="modelo" required>
                    <!-- Opción deshabilitada y seleccionada por defecto -->
                    <option value="" disabled selected>Escoja un modelo</option>
                    <!-- Iterar sobre la lista de tuplas (marca, modelos) -->
                    {% for marca, modelos in nombres_modelo %}
                        <!-- Usar la etiqueta <optgroup> para agrupar modelos por marca -->
                        <optgroup label="{{ marca }}">
                            <!-- Iterar sobre los modelos asociados a la marca -->
                            {% for modelo_id, nombre_modelo, _ in modelos %}
                                <!-- Usar la etiqueta <option> para mostrar el nombre del modelo -->
                                <option value="{{ modelo_id }}">{{ nombre_modelo }}</option>
                            {% endfor %}
                        </optgroup>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="sistema_operativo">Sistema Operativo</label>
                <select id="sistema_operativo" name="sistema_operativo_1">
                    <!-- Opción deshabilitada y seleccionada por defecto -->
                    <option value="" disabled selected>Seleccione un sistema operativo</option>
                    <!-- Generamos las opciones del menú desplegable con los nombres de la tabla SISTEMA_OPERATIVO -->
                    {% for sistema_id, nombre, num_version, arquitectura in nombres_so %}
                        <option value="{{ sistema_id }}" data-version="{{ num_version }}" data-arquitectura="{{ arquitectura }}">{{ nombre }} {{ num_version }} {{ arquitectura }}</option>
                    {% endfor %}
                </select>
                <table style="width: 100%;">
                    <tr>
                        <td style="width: 50%; text-align: center;">
                            <button type="button" id="agregar-sistema">Agregar otro sistema operativo</button>
                        </td>
                        <td style="width: 50%; text-align: center;">
                            <button type="button" class="btn-borrar-sistema">Eliminar último sistema operativo añadido</button>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="form-group">
                <label for="red">Interfaz de Red</label>
                <select id="red" name="red_1" class="form-control">
                    <option value="" disabled selected>Escoja una Interfaz de Red</option>
                    {% set red_por_marca = {} %}
                    {% for red_id, nombre, modelo, marca, integ_o_extern, tipo_nombre in nombres_red %}
                        {% if marca not in red_por_marca %}
                            {% set _ = red_por_marca.update({marca: []}) %}
                        {% endif %}
                        {% set _ = red_por_marca[marca].append((red_id, nombre, modelo, integ_o_extern, tipo_nombre)) %}
                    {% endfor %}
                    {% for marca, redes in red_por_marca.items() %}
                        <optgroup label="{{ marca }}">
                            {% for red in redes %}
                                <option value="{{ red[0] }}">
                                    {{ red[1] }} - {{ red[2] }} - Interfaz: {% if red[3]|int == 0 %}Integrada{% else %}Externa{% endif %} - {{ red[4] }}
                                </option>
                            {% endfor %}
                        </optgroup>
                    {% endfor %}
                </select>
                <table style="width: 100%;">
                    <tr>
                        <td style="width: 50%; text-align: center;">
                            <button type="button" id="agregar-red">Agregar otra Interfaz de Red</button>
                        </td>
                        <td style="width: 50%; text-align: center;">
                            <button type="button" class="btn-borrar-red">Eliminar última Interfaz de Red añadida</button>
                        </td>
                    </tr>
                </table>
            </div>
            <input type="hidden" id="red_id" name="red_id">

            <div class="form-group">
                <label for="ram">RAM</label>
                <select id="ram" name="ram_1" class="form-control" onchange="actualizarCampoOculto(this)">
                    <option value="" disabled selected>Escoja una RAM</option>
                    {% set ram_por_marca = {} %}
                    {% for ram_id, marca_ram, num_serie, tipo_nombre, capacidad in nombres_ram %}
                        {% if marca_ram not in ram_por_marca %}
                            {% set _ = ram_por_marca.update({marca_ram: []}) %}
                        {% endif %}
                        {% set _ = ram_por_marca[marca_ram].append((ram_id, num_serie, tipo_nombre, capacidad)) %}
                    {% endfor %}
                    {% for marca, rams in ram_por_marca.items() %}
                        <optgroup label="{{ marca }}">
                            {% for ram in rams %}
                                <option value="{{ ram[0] }}">
                                    Núm de Serie: {{ ram[1] }} - {{ ram[2] }} - Capacidad: {{ ram[3] }}GiB
                                </option>
                            {% endfor %}
                        </optgroup>
                    {% endfor %}
                </select>
                <table style="width: 100%;">
                    <tr>
                        <td style="width: 50%; text-align: center;">
                            <button type="button" id="agregar-ram">Agregar otra RAM</button>
                        </td>
                        <td style="width: 50%; text-align: center;">
                            <button type="button" class="btn-borrar-ram">Eliminar última RAM operativo añadido</button>
                        </td>
                    </tr>
                </table>
            </div>
            <input type="hidden" id="ram_id" name="ram_id">
            

            <div class="form-group">
                <label for="iram_instalada">Ram instalada (GiB) </label>
                <select id="iram_instalada" name="iram_instalada" required>
                    <option value="" disabled selected>Seleccione tamaño</option>
                    <!-- Generamos las opciones del menú desplegable para números del 0 al 100 usando el lenguaje de plantillas de Flask -->
                    {% for i in range(101) %}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="fecha_ram">Fecha de colocación de RAM</label>
                <input type="date" id="fecha_ram" name="fecha_ram" class="form-control">
            </div>
            
            <div id="ram_unit_container" class="form-group">
                <label>Seleccione la unidad de RAM máxima:</label>
                <table>
                    <tr>
                        <td>
                            <input type="checkbox" id="ram_gb" name="ram_unit" value="GB" checked>
                        </td>
                        <td>
                            <label for="ram_gb">GB</label>
                        </td>
                        <td>
                            <input type="checkbox" id="ram_tb" name="ram_unit" value="TB">
                        </td>
                        <td>
                            <label for="ram_tb">TB</label>
                        </td>
                    </tr>
                </table>
            </div>
            
            <div class="form-group">
                <label for="tram_maxima">Tamaño de RAM máximo</label>
                <select id="tram_maxima" name="tram_maxima" required>
                    <option value="" disabled selected>Seleccione tamaño</option>
                    {% for i in range(1, 101) %}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="almacenamiento">Almacenamiento</label>
                <select id="almacenamiento" name="almacenamiento_1" class="form-control">
                    <option value="" disabled selected>Escoja Almacenamiento</option>
                    {% set almacenamiento_por_marca = {} %}
                    {% for disco_id, num_serie, marca_almacenamiento, modelo, capacidad in nombres_almacenamiento %}
                        {% if marca_almacenamiento not in almacenamiento_por_marca %}
                            {% set _ = almacenamiento_por_marca.update({marca_almacenamiento: []}) %}
                        {% endif %}
                        {% set _ = almacenamiento_por_marca[marca_almacenamiento].append((disco_id, num_serie, modelo, capacidad)) %}
                    {% endfor %}
                    {% for marca, almacenamientos in almacenamiento_por_marca.items() %}
                        <optgroup label="{{ marca }}">
                            {% for almacenamiento in almacenamientos %}
                                <option value="{{ almacenamiento[0] }}">
                                    Núm de Serie: {{ almacenamiento[1] }} - Modelo: {{ almacenamiento[2] }} - Capacidad: {{ almacenamiento[3] }}GiB
                                </option>
                            {% endfor %}
                        </optgroup>
                    {% endfor %}
                </select>
                <table style="width: 100%;">
                    <tr>
                        <td style="width: 50%; text-align: center;">
                            <button type="button" id="agregar-almacenamiento">Agregar otro Almacenamiento</button>
                        </td>
                        <td style="width: 50%; text-align: center;">
                            <button type="button" class="btn-borrar-almacenamiento">Eliminar último Almacenamiento añadido</button>
                        </td>
                    </tr>
                </table>
            </div>
            <input type="hidden" id="disco_id" name="disco_id">
            
            <div class="form-group">
                <label for="micro">Microprocesador</label>
                <select id="micro" name="micro_1" class="form-control">
                    <option value="" disabled selected>Escoja Microprocesador</option>
                    {% set micro_por_marca = {} %}
                    {% for micro_id, nombre, arquitectura,generacion, marca in nombres_micro %}
                        {% if marca not in micro_por_marca %}
                            {% set _ = micro_por_marca.update({marca: []}) %}
                        {% endif %}
                        {% set _ = micro_por_marca[marca].append((micro_id, nombre, arquitectura,generacion)) %}
                    {% endfor %}
                    {% for marca, micros in micro_por_marca.items() %}
                        <optgroup label="{{ marca }}">
                            {% for micro in micros %}
                                <option value="{{ micro[0] }}">
                                    {{ micro[1] }} - Arquitectura: {{ micro[2] }} - Generación: {{ micro[3] }}
                                </option>
                            {% endfor %}
                        </optgroup>
                    {% endfor %}
                </select>
                <table style="width: 100%;">
                    <tr>
                        <td style="width: 50%; text-align: center;">
                            <button type="button" id="agregar-micro">Agregar otro Microprocesador</button>
                        </td>
                        <td style="width: 50%; text-align: center;">
                            <button type="button" class="btn-borrar-micro">Eliminar último Microprocesador añadido</button>
                        </td>
                    </tr>
                </table>
            </div>
            <input type="hidden" id="micro_id" name="micro_id">
            
            
            
            <div class="form-group">
                <label for="num_procesadores">Número de procesadores</label>
                <select id="num_procesadores" name="num_procesadores" required>
                    <option value="" disabled selected>Seleccione el número</option>
                    <!-- Generamos las opciones del menú desplegable para números del 0 al 100 usando el lenguaje de plantillas de Flask -->
                    {% for i in range(0, 5) %}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="tarjeta">Tarjeta Gráfica</label>
                <select id="tarjeta" name="tarjeta_1" class="form-control">
                    <option value="" disabled selected>Escoja Tarjeta Gráfica</option>
                    {% set tarjeta_por_marca = {} %}
                    {% for tarjeta_id, marca, modelo, tipo_nombre, pci_nombre in nombres_tarjeta %}
                        {% if marca not in tarjeta_por_marca %}
                            {% set _ = tarjeta_por_marca.update({marca: []}) %}
                        {% endif %}
                        {% set _ = tarjeta_por_marca[marca].append((tarjeta_id, modelo, tipo_nombre, pci_nombre)) %}
                    {% endfor %}
                    {% for marca, tarjetas in tarjeta_por_marca.items() %}
                        <optgroup label="{{ marca }}">
                            {% for tarjeta in tarjetas %}
                                <option value="{{ tarjeta[0] }}">
                                    {{ tarjeta[1] }} - {{ tarjeta[2] }} - {{ tarjeta[3] }}
                                </option>
                            {% endfor %}
                        </optgroup>
                    {% endfor %}
                </select>
                <table style="width: 100%;">
                    <tr>
                        <td style="width: 50%; text-align: center;">
                            <button type="button" id="agregar-tarjeta">Agregar otra Tarjeta Gráfica</button>
                        </td>
                        <td style="width: 50%; text-align: center;">
                            <button type="button" class="btn-borrar-tarjeta">Eliminar última Tarjeta añadida</button>
                        </td>
                    </tr>
                </table>
            </div>
            <input type="hidden" id="tarjeta_id" name="tarjeta_id">

            <div class="form-group">
                <label for="puerto">Puertos</label>
                <select id="puerto" name="puerto_1">
                    <!-- Opción deshabilitada y seleccionada por defecto -->
                    <option value="" disabled selected>Seleccione un Puerto</option>
                    <!-- Generamos las opciones del menú desplegable con los nombres de la tabla SUBTIPO -->
                    {% for puerto_id, nombre in nombres_puerto %}
                        <option value="{{ puerto_id }}">{{ nombre }}</option>
                    {% endfor %}
                </select>
                <table style="width: 100%;">
                    <tr>
                        <td style="width: 50%; text-align: center;">
                            <button type="button" id="agregar-puerto">Agregar otro Puerto</button>
                        </td>
                        <td style="width: 50%; text-align: center;">
                            <button type="button" class="btn-borrar-puerto">Eliminar último Puerto añadido</button>
                        </td>
                    </tr>
                </table>
            </div>
            <input type="hidden" id="puerto_id" name="puerto_id">

            <div class="form-group">
                <label for="lectora">Unidad Lectora</label>
                <select id="lectora" name="lectora_1" class="form-control">
                    <option value="" disabled selected>Escoja una Unidad Lectora</option>
                    {% set lectora_por_marca = {} %}
                    {% for lectora_id, tipo_nombre, modelo, marca in nombres_lectora %}
                        {% if marca not in lectora_por_marca %}
                            {% set _ = lectora_por_marca.update({marca: []}) %}
                        {% endif %}
                        {% set _ = lectora_por_marca[marca].append((lectora_id, tipo_nombre, modelo)) %}
                    {% endfor %}
                    {% for marca, lectoras in lectora_por_marca.items() %}
                        <optgroup label="{{ marca }}">
                            {% for lectora in lectoras %}
                                <option value="{{ lectora[0] }}">
                                    Tipo: {{ lectora[1] }} - Modelo: {{ lectora[2] }}
                                </option>
                            {% endfor %}
                        </optgroup>
                    {% endfor %}
                </select>
                <table style="width: 100%;">
                    <tr>
                        <td style="width: 50%; text-align: center;">
                            <button type="button" id="agregar-lectora">Agregar otra Unidad Lectora</button>
                        </td>
                        <td style="width: 50%; text-align: center;">
                            <button type="button" class="btn-borrar-lectora">Eliminar última Unidad lectora añadida</button>
                        </td>
                    </tr>
                </table>
            </div>
            <input type="hidden" id="lectora_id" name="lectora_id">

            

            <div class="form-group">
                <label for="caracteristicas">Características del activo</label>
                <input type="text" id="caracteristicas" name="caracteristicas" placeholder="N/A">
            </div>
            
            <div class="form-group">
                <label for="ubicacion">Ubicación</label>
                <select id="ubicacion" name="ubicacion" required>
                    <!-- Opción deshabilitada y seleccionada por defecto -->
                    <option value="" disabled selected>Seleccione una ubicación</option>
                    <!-- Generamos las opciones del menú desplegable con los nombres de la tabla UBICACION -->
                    {% for ubicacion_id, nombre in nombres_ubicacion %}
                        <option value="{{ ubicacion_id }}">{{ nombre }}</option>
                    {% endfor %}
                </select>
            </div>
            <input type="hidden" id="ubicacion_id" name="ubicacion_id">
            
            <div class="form-group">
                <label for="usuario">Usuario Final</label>
                <select id="usuario" name="usuario" required>
                    <!-- Opción deshabilitada y seleccionada por defecto -->
                    <option value="" disabled selected>Seleccione usuario</option>
                    <!-- Generamos las opciones del menú desplegable con los nombres de la tabla USUARIO_FINAL -->
                    {% for usuario_id, usuario in nombres_usuarios %}
                        <option value="{{ usuario_id }}" data-nombre="{{ usuario }}">{{ usuario }}</option>
                    {% endfor %}
                </select>
            </div>
            <input type="hidden" id="usuario_id" name="usuario_id">
            
            <div class="form-group">
                <label for="resguardo">Responsable de resguardo</label>
                <select id="resguardo" name="resguardo" required>
                    <!-- Opción deshabilitada y seleccionada por defecto -->
                    <option value="" disabled selected>Seleccione responsable</option>
                    <!-- Generamos las opciones del menú desplegable con los nombres de la tabla RESPONSABLE_RESGUARDO -->
                    {% for responsable in nombres_resguardo %}
                        <option value="{{ responsable.id }}" data-id="{{ responsable.id }}">{{ responsable.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
            <input type="hidden" id="resguardo_id" name="resguardo_id">
            <div class="form-group">
                <label for="interno">Responsable interno</label>
                <select id="interno" name="interno" required>
                    <!-- Opción deshabilitada y seleccionada por defecto -->
                    <option value="" disabled selected>Seleccione responsable</option>
                    <!-- Generamos las opciones del menú desplegable con los nombres de la tabla RESPONSABLE_INTERNO -->
                    {% for responsable_id, nombre in nombres_interno %}
                        <option value="{{ responsable_id }}" data-nombre="{{ nombre }}">{{ nombre }}</option>
                    {% endfor %}
                </select>
            </div>
            <input type="hidden" id="interno_id" name="interno_id">
            <input type="hidden" name="lista_ids_sistemas" id="lista_ids_sistemas" value="1">
            <input type="hidden" name="lista_ids_ram" id="lista_ids_ram" value="1">
            <input type="hidden" name="lista_ids_almacenamiento" id="lista_ids_almacenamiento" value="1">
            <input type="hidden" name="lista_ids_micro" id="lista_ids_micro" value="1">
            <input type="hidden" name="lista_ids_tarjeta" id="lista_ids_tarjeta" value="1">
            <input type="hidden" name="lista_ids_puerto" id="lista_ids_puerto" value="1">
            <input type="hidden" name="lista_ids_lectora" id="lista_ids_lectora" value="1">
            <input type="hidden" name="lista_ids_red" id="lista_ids_red" value="1">

            <button class="btn-submit" type="submit">Agregar</button>
        </form>
    </div>
    <script>
        // Obtener el elemento del campo de fecha
        var fechaRamInput = document.getElementById("fecha_ram");

        // Obtener la fecha actual en el formato "YYYY-MM-DD"
        var fechaActual = new Date().toISOString().split('T')[0];

        // Establecer la fecha actual como valor por defecto en el campo de fecha
        fechaRamInput.value = fechaActual;

        function actualizarCampoOculto(selectElement) {
            const selectedOption = selectElement.options[selectElement.selectedIndex];
            document.getElementById('ram_id').value = selectedOption.value;
        }
        // the selector will match all input controls of type :checkbox with name="ram_unit"
        // and attach a click event handler 
        $("input:checkbox[name='ram_unit']").on('click', function() {
            // in the handler, 'this' refers to the checkbox clicked on
            var $box = $(this);
            if ($box.is(":checked")) {
            // the name of the box is retrieved using the .attr() method
            // as it is assumed and expected to be immutable
            var group = "input:checkbox[name='" + $box.attr("name") + "']";
            // the checked state of the group/box on the other hand will change
            // and the current value is retrieved using .prop() method
            $(group).prop("checked", false);
            $box.prop("checked", true);
            } else {
            $box.prop("checked", false);
            }
        });

        </script>
</body>
</html>
