<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar libros</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    
        .form-container {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            padding: 20px;
            width: 90%; /* Utilizamos un ancho relativo */
            max-width: 400px;
            text-align: center;
            overflow-y: auto;
        }
    
        h1 {
            text-align: center;
            margin-top: 0;
        }
    
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-height: 80vh; /* Limitamos la altura del formulario */
            overflow-y: auto;
        }
    
        .form-group {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-bottom: 15px;
        }
    
        label {
            font-weight: bold;
            margin-bottom: 5px;
        }
    
        input, select {
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            width: 100%;
            box-sizing: border-box;
            margin-bottom: 8px;
        }
    
        .btn-submit {
            background-color: #3498db;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s;
        }
    
        .btn-submit:hover {
            background-color: #2980b9;
        }


    </style>
    <!-- Asegúrate de tener incluida la biblioteca de jQuery antes de este script -->
<!-- Coloca esto en la sección <head> de tu archivo HTML -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>

        var listaIdsInterno = [];
        var listaIdsResguardo = [];
        var listaIdsUsuario = [];

        $(document).ready(function() {

            var contadorInterno = 1;
            var contadorResguardo = 1;
            var contadorUsuario = 1;


            $("#agregar-interno").click(function() {
                contadorInterno++;

                var internoOriginal = $("#interno");
                var nuevoInterno = internoOriginal.clone();

                nuevoInterno.attr("id", "interno_" + contadorInterno);
                nuevoInterno.attr("name", "interno_" + contadorInterno);

                // Deseleccionar la opción en el nuevo sistema operativo clonado
                nuevoInterno.find("option:selected").removeAttr("selected");
                
                // Seleccionar la opción predeterminada en el nuevo sistema operativo clonado
                nuevoInterno.find("option:first").attr("selected", "selected");

                // Agrega un botón de borrado junto al nuevo sistema operativo clonado
                nuevoInterno.after('<button class="btn-borrar-interno">Borrar</button>');

                // Agrega el nuevo sistema operativo clonado al formulario
                var ultimoInternoDuplicado = $("select[name^='interno_']").last();
                nuevoInterno.insertAfter(ultimoInternoDuplicado);
                // Agrega el ID del sistema operativo clonado a la lista
                listaIdsInterno.push("interno_" + contadorInterno);

                $("#lista_ids_interno").val(contadorInterno);
            });

            function eliminarCaracteresEscape(str) {
                return str.replace(/&#39;/g, "'");
            }

            $(document).ready(function() {
            // Obtener el número de clics de Flask
            var numeroDeClics = {{ numeroDeClics }}; // Asegúrate de que Flask proporcione este valor en tu plantilla HTML.


            // Función para simular clics en el botón
            function simularClics() {
                for (var i = 0; i < numeroDeClics; i++) {
                    $("#agregar-interno").click();
                }
                
                var i=1;
                var obtener_interno_original = {{ obtener_interno_original }};
                obtener_interno_original.forEach(function(elemento) {
                    console.log(elemento);
                    var nombreSelect = "interno_" + (i); // Reemplaza con el nombre del select que deseas seleccionar
                    var select = document.querySelector("select[name='" + nombreSelect + "']");
                    select.value = elemento;
                    i++;
                });

                
            }

            // Llamar a la función para simular los clics después de que la página se haya cargado
            simularClics();
            });

            $("#agregar-resguardo").click(function() {
                contadorResguardo++;

                var resguardoOriginal = $("#resguardo");
                var nuevoResguardo = resguardoOriginal.clone();

                nuevoResguardo.attr("id", "resguardo_" + contadorResguardo);
                nuevoResguardo.attr("name", "resguardo_" + contadorResguardo);

                // Deseleccionar la opción en el nuevo sistema operativo clonado
                nuevoResguardo.find("option:selected").removeAttr("selected");
                
                // Seleccionar la opción predeterminada en el nuevo sistema operativo clonado
                nuevoResguardo.find("option:first").attr("selected", "selected");

                // Agrega un botón de borrado junto al nuevo sistema operativo clonado
                nuevoResguardo.after('<button class="btn-borrar-resguardo">Borrar</button>');

                // Agrega el nuevo sistema operativo clonado al formulario
                var ultimoResguardoDuplicado = $("select[name^='resguardo_']").last();
                nuevoResguardo.insertAfter(ultimoResguardoDuplicado);
                // Agrega el ID del sistema operativo clonado a la lista
                listaIdsResguardo.push("resguardo_" + contadorResguardo);

                $("#lista_ids_resguardo").val(contadorResguardo);
            });

            $("#agregar-usuario").click(function() {
                contadorUsuario++;

                var usuarioOriginal = $("#usuario");
                var nuevoUsuario = usuarioOriginal.clone();

                nuevoUsuario.attr("id", "usuario_" + contadorUsuario);
                nuevoUsuario.attr("name", "usuario_" + contadorUsuario);

                // Deseleccionar la opción en el nuevo sistema operativo clonado
                nuevoUsuario.find("option:selected").removeAttr("selected");
                
                // Seleccionar la opción predeterminada en el nuevo sistema operativo clonado
                nuevoUsuario.find("option:first").attr("selected", "selected");

                // Agrega un botón de borrado junto al nuevo sistema operativo clonado
                nuevoUsuario.after('<button class="btn-borrar-usuario">Borrar</button>');

                // Agrega el nuevo sistema operativo clonado al formulario
                var ultimoUsuarioDuplicado = $("select[name^='usuario_']").last();
                nuevoUsuario.insertAfter(ultimoUsuarioDuplicado);
                // Agrega el ID del sistema operativo clonado a la lista
                listaIdsUsuario.push("usuario_" + contadorUsuario);

                $("#lista_ids_usuario").val(contadorUsuario);
            });

            $(document).on('click', '.btn-borrar-resguardo', function() {
                var resguardoDuplicado = $("select[name^='resguardo_']").not(":first");
                
                if (resguardoDuplicado.length > 0) {
                    var resguardoDuplicado = resguardoDuplicado.last();
                    resguardoDuplicado.prev(".btn-borrar-resguardo").remove(); // Remover el botón de borrado del sistema anterior
                    resguardoDuplicado.remove(); // Remover el menú desplegable del sistema operativo duplicado
                    listaIdsResguardo.pop();
                } else {
                    var resguardoOriginal = $("select[name='resguardo_1']");
                    resguardoOriginal.val(""); // Restablecer el valor a la opción deshabilitada y seleccionada por defecto
                }
            });

            $(document).on('click', '.btn-borrar-interno', function() {
                var internoDuplicado = $("select[name^='interno_']").not(":first");
                
                if (internoDuplicado.length > 0) {
                    var internoDuplicado = internoDuplicado.last();
                    internoDuplicado.prev(".btn-borrar-interno").remove(); // Remover el botón de borrado del sistema anterior
                    internoDuplicado.remove(); // Remover el menú desplegable del sistema operativo duplicado
                    listaIdsInterno.pop();
                } else {
                    var internoOriginal = $("select[name='interno_1']");
                    internoOriginal.val(""); // Restablecer el valor a la opción deshabilitada y seleccionada por defecto
                }
            });

            $(document).on('click', '.btn-borrar-usuario', function() {
                var usuarioDuplicado = $("select[name^='usuario_']").not(":first");
                
                if (usuarioDuplicado.length > 0) {
                    var usuarioDuplicado = usuarioDuplicado.last();
                    usuarioDuplicado.prev(".btn-borrar-usuario").remove(); // Remover el botón de borrado del sistema anterior
                    usuarioDuplicado.remove(); // Remover el menú desplegable del sistema operativo duplicado
                    listaIdsUsuario.pop();
                } else {
                    var usuarioOriginal = $("select[name='usuario_1']");
                    usuarioOriginal.val(""); // Restablecer el valor a la opción deshabilitada y seleccionada por defecto
                }
            });
          
            

            


        });

    </script>
</head>
<body>
    <div class="container">
        <h1>Modificar un  libro</h1>
        {% for libro in obtener_libroIDs %}
        <form action="/modificar_libro/{{ libro[0] }}" method="post">
          
                <div class="form-group">
                    <label for="factura">Factura</label>
                    <input type="text" id="factura" name="factura" value="{{ libro[1] }}">
                </div>

                <div class="form-group">
                    <label for="serial">Serial</label>
                    <input type="text" id="serial" name="serial" value="{{ libro[2] }}">
                </div>

 
                <div class="form-group">
                    <label for="num_inventario">Número de Inventario</label>
                    <input type="text" id="num_inventario" name="num_inventario" value="{{ libro[3] }}" pattern="[0-9]*">
                </div>
                
                <div class="form-group">
                    <label for="nombre">Título</label>
                    <input type="text" id="nombre" name="nombre"  value="{{ libro[5] }}" required>
                </div>

                <div class="form-group">
                    <label for="descripcion">Autor</label>
                    <input type="text" id="autor" name="autor" value="{{ libro[10] }}">
                </div>
                
                <div class="form-group">
                    <label for="estado">Estado</label>
                    <select id="estado" name="estado" required>
                        <option value="" disabled selected>Seleccione un estado</option>
                        <option value="ACTIVO" {% if libro[6] == "ACTIVO" %}selected{% endif %}>ACTIVO</option>
                        <option value="INACTIVO" {% if libro[6] == "INACTIVO" %}selected{% endif %}>INACTIVO</option>
                        <option value="PRESTAMO" {% if libro[6] == "PRESTAMO" %}selected{% endif %}>PRESTAMO</option>
                        <option value="BAJA" {% if libro[6] == "BAJA" %}selected{% endif %}>BAJA</option>
                    </select>
                    <br><br>
                </div>
                <input type="hidden" id="estado" name="estado" value="{{ libro[6] }}">
                

                <div class="form-group">
                    <label for="contenido">Editorial</label>
                    <input type="text" id="editorial" name="editorial" value="{{ libro[7] }}">
                </div>

                <div class="form-group">
                    <label for="contenido">Año</label>
                    <input type="text" id="anio" name="anio" value="{{ libro[9] }}">
                </div>

                <div class="form-group">
                    <label for="contenido">Edición</label>
                    <input type="text" id="edicion" name="edicion" value="{{ libro[8] }}">
                </div>

                <div class="form-group">
                    <label for="cantidad">Cantidad</label>
                    <select id="cantidad" name="cantidad" required>
                        <option value="" disabled selected>Seleccione el número</option>
                        <!-- Generamos las opciones del menú desplegable para números del 0 al 100 usando el lenguaje de plantillas de Flask -->
                        {% for i in range(1, 101) %} {# Aumenté el rango hasta 11 #}
                            <option value="{{ i }}" {% if i == libro[11] %}selected{% endif %}>{{ i }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="ubicacion">Ubicación*</label>
                    <select id="ubicacion" name="ubicacion" required>
                        <!-- Opción deshabilitada y seleccionada por defecto -->
                        <option value="" disabled selected>Seleccione una ubicación</option>
                        <!-- Generamos las opciones del menú desplegable con los nombres de la tabla UBICACION -->
                        {% for ubicacion_id, nombre in nombres_ubicacion %}
                            <option value="{{ ubicacion_id }}" {% if ubicacion_id == obtener_ubicacion_original %}selected{% endif %}>{{ nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <input type="hidden" id="ubicacion_id" name="ubicacion_id">

                <div class="form-group">
                    <label for="interno">Responsable interno*</label>
                    <select id="interno" name="interno_1" required>
                        <!-- Opción deshabilitada y seleccionada por defecto -->
                        <option value="" disabled selected>Seleccione responsable</option>
                        <!-- Generamos las opciones del menú desplegable con los nombres de la tabla RESPONSABLE_INTERNO -->
                        {% for responsable_id, nombre in nombres_interno %}
                            <option value="{{ responsable_id }}" {% if responsable_id == obtener_interno_original[0] %}selected{% endif %} data-nombre="{{ nombre }}">{{ nombre }}</option>
                        {% endfor %}
                    </select>
                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 50%; text-align: center;">
                                <button type="button" id="agregar-interno">Agregar otro Interno</button>
                            </td>
                            <td style="width: 50%; text-align: center;">
                                <button type="button" class="btn-borrar-interno">Eliminar último Interno</button>
                            </td>
                        </tr>
                    </table>
                </div>
                <input type="hidden" id="interno_id" name="interno_id">

                <div class="form-group">
                    <label for="resguardo">Responsable de resguardo*</label>
                    <select id="resguardo" name="resguardo_1" required>
                        <!-- Opción deshabilitada y seleccionada por defecto -->
                        <option value="" disabled selected>Seleccione responsable</option>
                        <!-- Generamos las opciones del menú desplegable con los nombres de la tabla RESPONSABLE_RESGUARDO -->
                        {% for responsable in nombres_resguardo %}
                            <option value="{{ responsable.id }}" {% if responsable.id == obtener_resguardo_original %}selected{% endif %}>{{ responsable.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <input type="hidden" id="resguardo_id" name="resguardo_id">

                <input type="hidden" name="lista_ids_interno" id="lista_ids_interno" value="1">
            
            <button class="btn-submit" type="submit">Modificar</button>
        </form>
        {% endfor %}
    </div>
</body>
</html>
